/* Set defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: slategrey;
}




/* Make the id for the game container box */
#gameContainer {
    border: solid 5px;
    height: 300px;
    width: 300px;
    
}

/* make the grid for the game to go in */

#field {
    display: grid;
    grid: auto / auto auto auto auto auto
                 auto auto auto auto auto;
    height: 250px;
    width: 250px;
    gap: 0;
}

.block {
    border: solid 1px;
    background-color: lightgreen;
}


/* Make the snake object */
#head {
    background-color: magenta;
}

.snakeBlock {
    background-color: darkmagenta;
}