/* Set all elements to include margins and padding in width and height */
* { box-sizing: border-box;
    /* Maybe move margin to be 0 on just the header, nav, footer, and main */
    margin: 0; /* Ensure all inside elements reach the edges of the screen */
}

/* Styles for a main content wrapper. Goal: Make it feel like a place rather than just a site This information exists *somewhere* */
#aWrap {
    margin: 20px; /* Adds space around and centers horizontally */
    background-color: lightblue;
    border-radius: 30px;           /* Rounded corners */
    box-shadow: 0 0 15px rgb(141, 255, 141); 
    overflow: hidden;              /* Prevents child elements from overflowing */
}

hr {
    margin: 8px 0;
    display: block;
    border: 3px solid white;
    width: 100%;
}

#midSect {
    background-color: rgba(128, 128, 128, 0.2);
}

#leftSect {
    background-color: rgba(112, 187, 252, 0.2);
}

#rightSect {
    background-color: rgba(185, 255, 179, 0.2);
}

#sectionGrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
}

/* Styles for body */
body {
    background-color: darkslateblue;  /* void. Almost black */
}

/* Styles for the main */
/* main {
    background-color: pink;
} */

/* Styles for paragraphs */
p {
    margin: 15px;
}


/* Styles for site heading */
#siteHead {
    background-color: #ffffff;
    width: 95%;
    text-align: center;
    padding: 40px 10px 40px 10px;
    margin: 6px auto;
    border: solid 5px;   
    border-radius: 50px;
    border-top: solid 10px blue;    /* Animate colors to cycle or change! */
    border-bottom: solid green;
    border-left: solid purple;
    border-right: solid lightblue;
}
#siteHead a {
    text-decoration: none; /* remove underline from link */
    color: orange;
    font-size: 3em;
    width: 100%;
}    

/* Styles for the footer */
footer {
    position:relative; /* Like setting an absolute position, but it is still relative. Make footer at the bottom of the page. */
    width: 100%;
    bottom: 0;      /* Make the footer press to the bottom of the page */
    left: 0; /* Make the footer press to the left of the page */
    background-color: greenyellow;
    padding: 25px;
}



/* Styles for top-of-page navigation */

#siteNav a {
    /* position: absolute */
    text-decoration: none; /* remove underline from link */
    color: purple;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: tan;
    width: 100%;
    display: inline-block; /* stack nicely on top of eachother */
    padding-left: 1px;
    border-top: solid 2px magenta;
    border-bottom: solid 1px rgb(92, 11, 11);
    border-left: solid 1px rgb(92, 11, 11);
    border-right: solid 5px magenta;
    border-radius: 5px 25px 15px 5px;
    box-shadow: brown -3px 3px 5px;
}
#siteNav {
    text-align: center;
}
#siteNav li {
    margin-left: 10px;
    list-style-type: none;
    padding: 0px;
    width: 80%;
}
#siteNav ul {
    padding: 0; /* Get rid of the space left by the bullet points */
}


/* Styles for the Game Container */
.gamesContainer {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;     /* Make each game take up 1/3 of the container width */
    margin: 15px;
    padding: 25px;
    background-color: burlywood;
    border: solid;
}
.gameBox {
    color: red;
    font-size: 20px;
    background-color: lavender; 
    border: solid black 1px;
    padding: 15px;
    border-radius: 25px;
}





/* Styles for the game type link section */
#appTypesContainer div {
    color: blue;
    display: flex;
    background-color: grey;
    margin: auto;   
}

#appTypesContainer h2 {
    text-align: center;
    margin: 0;
    padding: .5em;
}

.appType {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Keep them all on the same line */
    padding: 15px;
    background-color: aqua;
    margin: 10px;
    width: 33%;
    border-radius: 20px;
}

.appType a {
    text-align: center;
    text-decoration: none; /* remove underline from link */
}
.appType a:link {color: darkblue}
.appType a:hover {color: darkblue}
.appType a:visited {color: darkblue}
.appType a:active {color: darkblue}


/* Blockquote */
blockquote {
    border-left: 2px solid #000;
    margin: 1.5em 2em;
    padding: 5px;
    quotes: "\201C""\201D""\2018""\2019"; /* Not working. Copied from https://css-tricks.com/snippets/css/simple-and-nice/blockquote/styling/ Wrote the text and link freehand */
}

/* template */

/* template */

/* template */

/* template */

/* template */

/* template */

/* template */