/* Absolute positioning in the header, footer, and nav
   make it so they take up the full screen width
   but they also make other elements overlap 
   as though they weren't there. Need fix. 
   Maybe Edge browser issue. 
*/



/* Set all elements to include margins and padding in width and height */
* { box-sizing: border-box;
    margin: 0; /* Ensure all inside elements reach the edges of the screen */
}



/* Styles for body */
body {
    background-color: #c7e79c;  /* Greenish background color */
}

/* Styles for the main */
main {
    background-color: pink;
    min-height: 400px;
}


/* Styles for site heading */
#siteHead {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 40px 10px 40px 10px;
    margin: 0;
}
#siteHead a {
    text-decoration: none; /* remove underline from link */
    color: orange;
    font-size: 3em;
    width: 100%;
}    

/* Styles for the footer */
footer {
    position:relative; /* Like setting an absolute position, but it is still relative. Make footer at the bottom of the page. */
    width: 100%;
    bottom: 0;      /* Make the footer press to the bottom of the page */
    left: 0; /* Make the footer press to the left of the page */
    background-color: #ffffff;
    padding: 25px;
}



/* Styles for top-of-page navigation */

#siteNav a {
    /* position: absolute */
    text-decoration: none; /* remove underline from link */
    color: purple;
    margin: 10px;
    font-size: 1.1em;
}
#siteNav {
    background-color: tan;
    width: 100%;
    text-align: center;
    padding: 5px;
}

/* Styles for the Game Container */
.gamesContainer {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;     /* Make each game take up 1/3 of the container width */
    margin: 15px;
    padding: 25px;
    background-color: burlywood;
    border: solid;
}
.gameBox {
    color: red;
    font-size: 20px;
    background-color: lavender; 
    border: solid black 1px;
    padding: 15px;
    border-radius: 25px;
}





/* Styles for the game type link section */
#gameTypesContainer div {
    color: blue;
    display: flex;
    background-color: grey;
    margin: auto;   
}

#gameTypesContainer h2 {
    text-align: center;
    margin: 0;
    padding: .5em;
}

.gameType {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Keep them all on the same line */
    padding: 15px;
    background-color: aqua;
    margin: 10px;
    width: 33%;
    border-radius: 20px;

}

.gameType a {
    text-align: center;
    text-decoration: none; /* remove underline from link */
}
.gameType a:link {color: darkblue}
.gameType a:hover {color: darkblue}
.gameType a:visited {color: darkblue}
.gameType a:active {color: darkblue}



/* Blockquote */
blockquote {
    border-left: 2px solid #000;
    margin: 1.5em 2em;
    padding: 5px;
    quotes: "\201C""\201D""\2018""\2019"; /* Not working. Copied from https://css-tricks.com/snippets/css/simple-and-nice/blockquote/styling/ Wrote the text and link freehand */
}

/* template */

/* template */

/* template */

/* template */

/* template */

/* template */

/* template */